<div class="row">
  <div class="col-md-8 offset-2">
    <h2>{{ title }}</h2>
    <form
      class="form-container"
      (ngSubmit)="onSubmit()"
      [formGroup]="bookForm"
      #myForm="ngForm"
    >
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Kategori seç"
          formControlName="categoryBy"
          [matAutocomplete]="auto"
        />

        <mat-error *ngIf="category.invalid">
          <div *ngIf="category.hasError('required')">
            bu alan boş geçilemez
          </div>
        </mat-error>

        <mat-autocomplete [displayWith]="displayCategoryName" #auto="matAutocomplete">
          <mat-option *ngFor="let item of categories" [value]="item">{{ item.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div class="mt-2">
        <input
          type="file"
          (change)="upload($event)"
          formControlName="pictureFile"
        />
        <div *ngIf="pictureFile.invalid && myForm.submitted">
          <span *ngIf="pictureFile.hasError('required')" style="color: #f44336; font-size: 75%;">
            lütfen bir resim seçiniz
          </span>
        </div>
      </div>

      <mat-form-field>
        <input
          placeholder="Kitap başlığı giriniz.."
          formControlName="title"
          matInput
        />
        <mat-error *ngIf="this.bookForm.controls.title.invalid">
          <div *ngIf="this.bookForm.controls.title.hasError('required')">
            bu alan boş geçilemez
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          placeholder="Kitap yazarı giriniz.."
          formControlName="author"
          matInput
        />
        <mat-error *ngIf="this.bookForm.controls.author.invalid">
          <div *ngIf="this.bookForm.controls.author.hasError('required')">
            bu alan boş geçilemez
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          placeholder="Kitap fiyatını giriniz.."
          formControlName="price"
          matInput
        />
        <mat-error *ngIf="this.bookForm.controls.price.invalid">
          <div *ngIf="this.bookForm.controls.price.hasError('required')">
            bu alan boş geçilemez
          </div>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input
          placeholder="Kitap stoğunu giriniz.."
          formControlName="stock"
          matInput
        />
        <mat-error *ngIf="this.bookForm.controls.stock.invalid">
          <div *ngIf="this.bookForm.controls.stock.hasError('required')">
            bu alan boş geçilemez
          </div>
        </mat-error>
      </mat-form-field>

      <button type="submit" class="mt-2" mat-raised-button color="primary">{{ btnText }}</button>
    </form>
  </div>
</div>