<div class="row">
  <div class="col-md-8 offset-2">
    <h2>{{ title }}</h2>
    <form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="bookForm">
      <mat-form-field>
        <input
          matInput
          type="text"
          placeholder="Kategori seç"
          formControlName="categoryBy"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete [displayWith]="displayCategoryName" #auto="matAutocomplete">
          <mat-option *ngFor="let item of categories" [value]="item">{{ item.name }}</mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <div>
        <input
          type="file"
          (change)="upload($event)"
        />
      </div>

      <mat-form-field>
        <input
          placeholder="Kitap başlığı giriniz.."
          formControlName="title"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <input
          placeholder="Kitap yazarı giriniz.."
          formControlName="author"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <input
          placeholder="Kitap fiyatını giriniz.."
          formControlName="price"
          matInput
        />
      </mat-form-field>

      <mat-form-field>
        <input
          placeholder="Kitap stoğunu giriniz.."
          formControlName="stock"
          matInput
        />
      </mat-form-field>

      <button type="submit" class="mt-2" mat-raised-button color="primary">Ekle</button>
    </form>
  </div>
</div>