/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-container > * {
  width: 100%;
}

.cardBook {
  width: 250px;
  margin: 0px 10px 10px 10px;
  float: left;
}

.cardBook:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, .3);
}

.cardBook img {
  width: 230px;
  height: 350px;
}

.cardInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}